<html>

    <head>
        <title>SSS:Scrum Support Site</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        <script type="text/javascript" src="controlador2.js"></script>
         <link   rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link   rel="stylesheet" type="text/css" href="estilo2.css">
    </head>

<body ng-app>

<div ng-controller="ControladorScrum2">

<div class="container-fluid" id="encabezado"> <h1> SSS: Scrum Support Site </h1></div>
{{mensaje}}

<!--"Menu" inicial-->
 <h2><a href="" ng-click="scarOpen()">Seleccion de caracteristicas</a> <h2>
<hr></hr>
<h2><a href="" ng-click="deftaOpen()">Definir tareas</a><h2>

<!--Seccion para seleccionar las caracteristicas-->
<div id="seleccionDeCaracteristicas" style="display:{{scar}}" >

  <hr></hr>

  <a href="" ng-click="fetchProjects()">Obtener Lista de Proyectos</a>
  
  <ul ng-repeat="pro in proyectos">
  <li><a href="" ng-click="fetchCarreras(pro)">
  {{pro.nombre}}
  </a></li>
  </ul>
  
<div id="carrerasproye" style="display:{{carrs}}">
  Carreras para el proyecto seleccionado [{{pacnom}}]
  <br></br>
  {{mensajeCarrerasVacias}}
  <ul ng-repeat="pro in carreras">
  <li><a href="" ng-click="fetchReqs(pro._id)">
  {{pro.numero}}
  </a></li>
  </ul>
  <a href="" ng-click="volverHome()"> Volver </a>
</div>  <!--Div carrs-->

  <div id="reqsProye" style="display:{{carrs}}">
    <div id="reqss" style="display:{{reqss}}">
    <hr></hr>
    Requisitos para el proyecto seleccionado [{{pacnom}}]
    <br></br>
    {{mensajeReqsVacios}}
    <br></br>
    <ul ng-repeat="pro in requisitos">
    <li><a href="" ng-click="addReq(pro)">
    {{pro.nombre}}
    </a></li>

    </ul>

    Requisitos para la carrera seleccionada [{{carreraActual}}]
    <ul ng-repeat="pro in requisitosCarrera">
    <li><a href="" ng-click="fetchReqs(pro.nombre)">
    {{pro.nombre}}
    </a></li>
    </ul>
    <a href="" ng-click="volverHome()"> Volver </a>
    </div> <!--div reqss-->

  </div><!-- div reqsProye-->
</div>  <!--Div scar--> <!--Final de seccion de seleccion de caracteristicas-->

<!--Seccion para definir tareas a una carrera de un proyecto.-->
<div id="seleccionDefinirTareas" style="display:{{defta}}" >
  <hr></hr>
  <a href="" ng-click="fetchProjects()">Obtener Lista de Proyectos</a>
    
    <ul ng-repeat="pro in proyectos">
    <li><a href="" ng-click="fetchCarreras(pro)">
    {{pro.nombre}}
    </a></li>
    </ul>

    <div id="carrerasproye" style="display:{{carrs}}">
    Carreras para el proyecto seleccionado [{{pacnom}}]
    
    <br></br>
  {{mensajeCarrerasVacias}}
    <ul ng-repeat="pro in carreras">
    <li><a href="" ng-click="fetchTareas(pro._id)">
    {{pro.numero}}
    </a></li>
    </ul>


    </div>  <!--Div carrs-->

    <div id="carrerasproye" style="display:{{carrs}}">
    Tareas para la carrera seleccionada: [{{carreraActual}}]
    <ul ng-repeat="pro in tareasCarrera">
    <li><a href="">
    {{pro.nombre}}
    </a></li>
    </ul>
    <br></br>
    <a href="" ng-click="volverHome()"> Volver </a>
    
    <div id="addta" style="display:{{at}}">
      <!--Para agregar una tarea-->
      <br></br>
      <form ng-submit="addTarea()">
	  <label> Nombre Tarea </label>
	  <input type="text" ng-model="nomTarea" placeholder="Identificador de la tarea">
	  <br> </br>
	  <label> Peso </label>
	  <input type="text" ng-model="pesoTarea" placeholder="Peso">
	  <br> </br>
	  <label> estado </label>
	  <input type="text" ng-model="estadoTarea" placeholder="Estado">
	  <br> </br>
	  <label> fechaFin </label>
	  <input type="text" ng-model="fechaTarea" placeholder="01/02/2014">
	  <br> </br>
	  <button type="submit"> Agregar </button>
      </form>  
     <a href="" ng-click="volverHome()"> Volver </a>
    </div> <!--Div add tarea-->

</div> <!--Div defta-->

</div> <!--Div controller-->

</body>

</html>